<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <listener>
  	<listener-class>com.fxp.jee.listener.WebContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.fxp.jee.listener.WebContextAttrListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.fxp.jee.listener.SessionListener</listener-class>
  </listener> 
  <listener>
  	<listener-class>com.fxp.jee.listener.SessionAttrListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.fxp.jee.listener.RequestListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.fxp.jee.listener.RequestAttrListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>BindAttrServlet</servlet-name>
  	<servlet-class>com.fxp.jee.servlet.BindAttrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BindAttrServlet</servlet-name>
  	<url-pattern>/attrBinding</url-pattern>
  </servlet-mapping>
</web-app>